<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Welcome to WebEncryption</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<body>
    <h1>WebEncryption</h1>
    <form id="encryption_form" method="POST" action="/encryptFile">
        <input th:type="file" name="file"/>
        <input th:type="password" name="password" placeholder="password"/>
        <input th:type="submit" th:value="Submit" />
    </form>

    <form id="encryption_form" method="POST" action="/decryptFile">
        <div class="form-group">
            <label for="file">File</label>
            <input class="form-control" th:type="file" name="file"/>
            <label for="password">Password</label>
            <input class="form-control" th:type="password" name="password" placeholder="password"/>
            <input th:type="submit" th:value="Submit" />
        </div>
    </form>

    <form id="evernote-auth" method="get" action="/evernote">
        <button>Click Me</button>
    </form>
</body>
</html>